﻿
@{
    ViewBag.Title = "Html";
}

<h2>Html</h2>
<p>姓名: <input type="text" name="name" /></p>
<p>帳號:<input type="text" name="accountnumber" /></p>
<p>密碼:<input type="password" name="usepassword" /></p>
<p>性別:
    <input type="radio" name="gender" value="A">男
    <input type="radio" name="gender" value="B">女
</p>
<p>
    興趣:
    <input type="checkbox" name="item" value="A" />游泳
    <input type="checkbox" name="item" value="A" /> 閱讀
    <input type="checkbox" name="item" value="A" />看電影
</p>
<p>
    自我介紹:
    <textarea></textarea>

</p>
<button>送出<input type ="submit"  value="Submit">
</button>
