﻿
@{
    ViewBag.Title = "Htmlhelper";
}

<h2>Htmlhelper</h2>







<p>姓名:@Html.TextBox("name")</p>
<p>帳號:@Html.TextBox("accountnumber")</p>
<p>密碼:@Html.TextBox("password")</p>
<p>
    性別:
    @Html.RadioButton("gender", "A")男
    @Html.RadioButton("gender", "B")女
</p>
<p>
    興趣:
    @Html.CheckBox("item", "A")游泳
    @Html.CheckBox("item", "A")閱讀
    @Html.CheckBox("item", "A")看電影
</p>
<p>
    自我介紹:
    @Html.TextArea("text");

</p>
<button>
    送出<input type ="submit"  value="Submit">
</button>
