﻿@model WebApplication2.viewModel.BMIData
@{
    ViewBag.Title = "Index";
}
<h1>   </h1>
<h2>BMI計算</h2>

<form action="/BMI/Index" method="post">
    @Html.DisplayNameFor(m => m.h)
    @Html.TextBoxFor(m => m.h) 公分
    @Html.ValidationMessageFor(modelItem => @Model.h)<br />

    @Html.DisplayNameFor(m => m.w)
    @Html.TextBoxFor(m => m.w)  公斤
    @Html.ValidationMessageFor(modelItem => @Model.w)<br />

    @*<p>身高:@Html.TextAreaFor(a => a.h) 公分 @ViewBag.hError</p>
    <p>體重:@Html.TextAreaFor(b => b.w) 公斤 @ViewBag.wError</p>*@

    <input type="submit" name="Btn" value="送出" />
    <p> 計算結果:@Model.result</p>
    <p>等級:@Model.level</p>
</form>

